/* 반응형 */
@media screen and (min-width:900px) and (max-width:1250px){
    .col{
        width: 45% !important;
    }
}

/* 배경화면 */
.body{
    background: url(img/background.svg);
    /* background-size: 1700px 1000px; */
}

/* 스크롤바 없애기 */
body::-webkit-scrollbar{
    display:none;
}

/* 언어 번환 버튼 */
.lang-btn{
    display: inline-block;
    background: linear-gradient(to right, rgb(229, 226, 222), rgb(255, 252, 246), rgb(229, 226, 222));
    /* background: linear-gradient(to right, rgb(249, 205, 164), rgb(248, 233, 217), rgb(246, 176, 139)); */
    border: 2px solid rgb(216, 139, 116);
    position: fixed;
    top: 20px;
    right: 30px;
    width: 150px;
    height: 52px;
    z-index: 2;
    border-radius: 50px;
}

.national-flag{
    border-radius: 100px;
    width: 50px;
    position: fixed;
    top: 22px;
    border: rgb(216, 139, 116) 1.5px double;
}

.national-flag:hover{
    cursor: pointer;
}

.Korean-btn{ right: 130px; }
.English-btn{ right: 31px; }

.disabled-lang{
    filter: opacity(0.4) drop-shadow(0 0 0 snow);
    transition: 0.5s;
}

/* 개인 정보란 */
.my-info{
    background: linear-gradient(to top left, rgb(162, 67, 12), rgb(144, 40, 14), rgb(126, 39, 17), rgb(114, 30, 9));
    width: 17%;
    display: inline-block;
    height: 100%;
    border-right: dashed 1.5px rgb(235, 173, 0);
    border-radius: 30px 0 0 30px;;
}

.profile-pic{
    text-align: center;
    padding: 10% 0 5% 0;
}

.profile-pic img{
    border: double 5px rgb(225, 164, 85);
    width: 180px; 
    border-radius: 100px;
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 15px rgb(190, 103, 72);
    filter: opacity(0.9) drop-shadow(0 0 0 rgb(201, 27, 0));
}

.profile-name{
    text-align: center;
    background: linear-gradient(to right, rgb(245, 243, 241), rgb(131, 110, 108));
    border: ridge 2px rgb(209, 200, 198);
    border-style:  none ridge ridge groove;
    border-radius: 2px 5px 5px 0;
    position: relative;
    left: -10px;
    margin: 0;
    padding: 3px;
    box-shadow: 5px 3px 2px rgb(68, 1, 1);
    color: white;
    -webkit-text-stroke: 1px rgb(26, 0, 0);
}

.profile-second-name{
    text-align: center;
    background: linear-gradient(to right, rgb(96, 60, 53), rgb(44, 5, 1));
    border: ridge 2px rgb(81, 39, 36);
    border-style:  none ridge ridge groove;
    border-radius: 2px 5px 5px 0;
    position: relative;
    left: -10px;
    margin: 7px 0;
    padding: 3px;
    box-shadow: 3px 3px 2px rgb(68, 1, 1);
    color: snow;
    -webkit-text-stroke: 0.7px rgb(155, 20, 2);
    width: 40%;
    font-size: 1.3em;
}

.profile-desc{
    text-align: center;
    padding: 25px 15px;
    position: relative;
    left: 7%;
    background: linear-gradient(to bottom right, palegoldenrod 80%, rgb(229, 200, 132));
    box-shadow: 5px 5px 10px rgb(68, 1, 1);
    width: 75%;
    margin: 10% 0;
    border-radius: 2% 0 20% / 45% 0;
}

.profile-email{
    text-align: center;
    padding: 7px 10px;
    position: relative;
    left: 10%;
    background: linear-gradient(to bottom, rgb(245, 243, 241), rgb(133, 117, 116));
    box-shadow: 2px 5px 10px rgb(68, 1, 1);
    width: 75%;
    margin: 10% 0;
    border-radius: 50px;
    border: rgb(221, 212, 208) groove 3px;
    border-style: ridge groove groove ridge;
}

.profile-phone-number{
    text-align: center;
    padding: 7px;
    position: relative;
    left: 33%;
    background: linear-gradient(to bottom, rgb(245, 243, 241), rgb(133, 117, 116));
    box-shadow: 2px 5px 10px rgb(68, 1, 1);
    width: 55%;
    border-radius: 50px;
    border: rgb(221, 212, 208) groove 3px;
    border-style: ridge groove groove ridge;
}

.profile-svg{
    position: fixed;
    left: 3%;
    bottom: 5%;
}

.contact-svg{
    width: 40px;
    margin: 0 3px;
}

.github-svg{
    background-color: aliceblue;
    border-radius: 100px;
}

.instagram-svg{
    background-color: aliceblue;
    border-radius: 12px;
}

/* 카테고리 포스트잇 */
.category{
    position: relative;
    top:-39px;
    margin-left: 5px;
    display: inline-block;
}

.category:hover{
    top:-47px;
    transition: 0.5s;
}

.nav{
    width: 90px;
    z-index: 2;
    display: inline-block;
    padding: 10px 10px 15px 15px;
    border-radius: 30px 10px 0 0;
    margin-left: 5px;
}

.nav-svg{
    margin: 0 5px 0 5px;
    width:20px;
}

.nav:hover{
    cursor: pointer;
    -webkit-text-stroke: 0.5px rgb(126, 39, 17);
}

.nav-home{
    background: linear-gradient(to bottom right, lightblue, rgb(114, 184, 237));
}

.nav-home:hover{
    background: linear-gradient(to bottom right, rgb(148, 204, 241), rgb(93, 144, 252));
}

.nav-portfolio{
    width: 125px;
    background: linear-gradient(to bottom right, rgb(253, 140, 54), rgb(255, 98, 46));
}

.nav-portfolio:hover{
    background: linear-gradient(to bottom right, rgb(254, 140, 47), rgb(255, 64, 21));
}

.nav-study{
    background: linear-gradient(to bottom right, gold, rgb(255, 174, 0));
}

.nav-study:hover{
    background: linear-gradient(to bottom right, rgb(255, 204, 0), rgb(255, 119, 0));
}

.nav-note{
    background: linear-gradient(to bottom right, burlywood, rgb(201, 139, 85));
}

.nav-note:hover{
    background: linear-gradient(to bottom right, rgb(231, 178, 108), rgb(163, 103, 50));
}

.category-name{
    position: relative;
    top: -3px;
}

/* 겉표지 */
.outer-book{
    background: linear-gradient(to bottom right, rgb(126, 39, 17), rgb(154, 63, 6), rgb(115, 26, 10));
    width: 97%;
    margin: auto;
    margin-top: 2%;
    border-radius: 30px;
}

/* 속표지 */
.inner-book{
    background: linear-gradient(to bottom, rgb(216, 219, 221), rgb(145, 151, 153), rgb(196, 200, 202));
    width: 77%;
    display: inline-block;
    height: 88%;
    position: absolute;
    margin: 1.5%;
    border-radius: 5px;
}

/* 찐 페이지 */
.inner-page{
    background-color: rgb(196, 196, 200);
    width: 99%;
    margin: auto;
    height: 100%;
    border-radius: 5px;
}

/* 페이지 내 각 columns */
.col-wrapper{
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    top: -55px;
    /* -webkit-text-stroke: 0.2px rgb(227, 233, 238); */
}

.col{
    display: inline-block;
    width: 45.6%;
    height: 100%;
    padding: 0 3%;
    border-bottom: rgb(138, 145, 146) 2px solid;
}
.left-hand{
    background: linear-gradient(to right, snow, rgb(196, 196, 200), rgb(173, 173, 184),rgb(196, 196, 200));
    border-radius: 5px 0 0 5px;
}
.right-hand{
    background: linear-gradient(to left, snow, rgb(196, 196, 200), rgb(171, 171, 181));
    border-left: 1px rgb(134, 144, 153) solid;
    border-radius: 0 5px 5px 0;
}
